@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.mainHd {
  font-weight: 600;
  font-size: 25px;
  line-height: 60px;
  color: #101828;
  margin: 5px auto 15px;
}
.btn2 {
  text-align: center;
  margin: 15px;
  padding: 15px;
  border: 1px solid #039855;
  background: #039855;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #ffffff;
}
.heading {
  color: #a6f4c5;
  padding: 10px 0 15px 0;
  display: inline-block;
  margin: auto;
  font-size: 3rem;
}

.contributor-section {
  padding-top: 50px;
  padding-bottom: 70px;
}
.contributor-section .card-box {
  padding: 60px 100px;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(255.91deg, #1d2939 23.21%, #344054 85.52%);
  /* margin: auto; */
}

.contributor-section .card-box .mpara {
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #d1fadf;
  font-weight: 300;
}

.contributor-section .searchinput {
  background-color: #039855;
  /* width:300px; */
  height: 25px;
  border-radius: 25px;
  border: none;
}

.contributor-section .card-box .btn2 {
  text-align: center;
  margin: 15px;
  padding: 15px;
  border: 1px solid #039855;
  background: #039855;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #ffffff !important;
}
/* card css */
.cards {
  border: 1px solid #d7d7d7;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white !important;

  transition: 0.5s ease-in-out;
}


.text-base {
  color: #667085;
  font-size: 14px;
}

.cards:hover {
  transform: scale(1.05);
}

.card {
  transition: 0.5s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}

.Cardheading {
  font-size: 24px;
  color: #101828;
  font-weight: 600;
}

.cardtext {
  font-size: 18px;
  color: #667085;
  font-weight: 400;
}

.blogCard__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.blogCard__image {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.blogCard__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogCard__time {
  color: rgb(190, 170, 170);
}

.blogCard__icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.blogCard__icon__share {
  color: gray;
}

.blogCard__icon :hover {
  transform: scale(1.05);
}

/* footer */
.Social_icons {
  display: inline-block;
  justify-content: space-around;
  /* justify-content: space-between; */
  justify-items: end;
  align-items: center;
  background-color: #039855;
  display: flex;
}
.footerinput {
  margin-top: 10px;
  background-color: #f6f6f6;
  background: red;
}

/* img{
  display: block; 
 vertical-align: middle; 
} */
.avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  vertical-align: middle;
}

.headingtitle {
  margin: 2px;
  display: flex;
  justify-content: space-between;
  color: #101828;
}

.headingtitle h5 {
  margin: 0;
  color: #101828;
  font-size: 18px;
}

.protitle {
  font-size: 16px;
  color: #101828;
}

.headingtitle div {
  margin: 0;
  width: 50px;
  display: flex;
  justify-content: end;
  padding-top: 6px;
}

.headingtitle svg {
  margin: 0;
  height: 20px;
  width: 20px;
  transform: rotate(323deg);
}
/* 
@media (min-width: 768px)
.md\:ml-60 {
    margin-left: 15rem;
} */

/* form css  */

.formsconatiner {
  width: 100%;
  justify-content: center;
  background: #039855;
}
